{% extends "layout/navigation.html" %}

{% load static %}

{% block title %}Cadastrar Usuário{% endblock %}

{% block content %}

<div class="px-4 my-5 text-center">
  <h2 class="fw-bold rounded-3 bg-dark bg-gradient text-light">CADASTRO DE USUÁRIO</h2>
</div>
<div class="container py-3 rounded-3 bg-dark text-light w-768">
  <form method="POST" enctype="multipart/form-data" class="d-grid gap-2">
    <h3 class="mb-2">Informe os Dados do Usuário</h3>
    <h6 class="mb-3 text-muted">Já possui conta? <a href="{% url 'account:login' %}">clique aqui</a> para entrar</h6>
    {% csrf_token %}
    {{ form }}
    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Cadastrar</button>
  </form>
</div>

{% endblock %}
{% block post_js %}
<script type="text/javascript">
  $(document).ready(function() {
    $("#id_whatsapp").inputmask({
      mask: ["(99) 9999-9999", "(99) 99999-9999", ],
      keepStatic: true
    });  
  });
</script>
{% endblock %}
