{% extends "layout/navigation.html" %}

{% load static %}

{% block title %}Cadastrar Usuário{% endblock %}

{% block content %}

<div class="px-4 my-5 text-center">
  <h1 class="fw-bold rounded-3 bg-dark bg-gradient text-light">Cadastro de Usuário</h1>
</div>
<div class="container">
  <form method="POST" enctype="multipart/form-data" class="d-grid gap-2">
    <h1 class="h3 mb-3 fw-normal">Informe os Dados do Usuário</h1>
    {% csrf_token %}
    {{ form }}
    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Cadastrar</button>
  </form>
</div>

{% endblock %}
