{% extends "layout/navigation.html" %}

{% load static %}

{% block title %}Autenticação{% endblock %}

{% block content %}

<!--? contact-form start -->
<section class="contact-form-area">
  <div class="container">
    <div class="row justify-content-center">
      <!-- Contact wrapper -->
      <div class="col-xl-8 col-lg-9">
        <div class="contact-form-wrapper">
          <!-- From tittle -->
          <div class="row">
            <div class="col-lg-12">
              <!-- Section Tittle -->
              <div class="section-tittle mb-50">
                <h2>Cadastrar Usuario</h2>
              </div>
            </div>
          </div>
          <!-- form -->
          <form method="POST" class="contact-form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row ">
              <!-- Button -->
              <div class="col-lg-12">
                <button name="submit" class="submit-btn">Cadastrar</button>
              </div>
            </div>
          </form>	
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact-form end -->
{% endblock %}
