{% extends "layout/navigation.html" %}

{% load static %}

{% block title %}Autenticação{% endblock %}

{% block content %}
<!--? contact-form start -->
<section class="contact-form-area">
  <div class="container">
    <div class="row justify-content-center">
      <!-- Contact wrapper -->
      <div class="col-xl-8 col-lg-9">
        <div class="contact-form-wrapper">
          <!-- From tittle -->
          <div class="row">
            <div class="col-lg-12">
              <!-- Section Tittle -->
              <div class="section-tittle mb-50">
                <h2>Painel de Usuário</h2>
              </div>
            </div>
          </div>
          <!-- form -->
          <h4>Nome de Usuário</h4>
          <h5 class="ml-4">{{ user.name }}</h5>
          <h4>Telefone</h4>
          <h5 class="ml-4">{{ user.phone }}</h5>
          <h4>Email</h4>
          {% if user.email %}
          <h5 class="ml-4">{{ user.email }}</h5>
          {% else %}
          <h5 class="ml-4">Não Possui Email</h5>
          {% endif %}
          <h4>Rifas</h4>
          {% if user.quota_set.all %}
            {% for quota in user.quota_set.all %}
            <a href="{% url 'raffles:detail-raffles' raffle_pk=quota.raffle.id %}" class="genric-btn {{ quota.get_btn }} small radius">
              Cota: {{ quota.number }} | {{ quota.get_status }}
            </a>
            {% endfor %}
          {% else %}
          <h5 class="ml-4">Não Possui Rifas</h5>
          {% endif %}
          <h4>Prêmios Vencidos</h4>
          <h5 class="ml-4">Nenhum Premio Vencido.</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact-form end -->

{% endblock %}
