{% extends "layout/navigation.html" %}

{% load static %}

{% block title %}Painel{% endblock %}

{% block content %}
<section class="contact-form-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-9">
        {% if request.user.is_staff %}
        <div class="contact-form-wrapper">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-tittle mb-50">
                <h2>Painel de Administrador</h2>
              </div>
            </div>
            {% if order_page_result %}
            <h3 class="mb-50">Confirmar Pagamento</h3>
            <table class="table table-hover">
              <thead>
                <th>Dono</th>
                <th>Data de Reserva</th>
                <th>Cotas</th>
                <th class="text-right">Pagamento</th>
              </thead>
              <tbody>
                {% for order in order_page_result %}
                <tr>
                  <td>{{ order.owner }}</td>
                  <td>{{ order.reserved_at|date:"d/m/Y" }} às {{ order.reserved_at|date:"H:i" }}</td>
                  <td>{{ order.get_quotas_numbers }}</td>
                  <td class="text-right btn-group">
                    {% if order.quota_set.first.is_date_valid %}
                    <a href="{% url 'raffles:pay-order' order_pk=order.id %}"
                     class="genric-btn small success radius"><i class="fa fa-thumbs-up"></i></a>
                    <a href="{% url 'raffles:reset-order' order_pk=order.id %}"
                     class="genric-btn small danger radius"><i class="fa fa-trash"></i></a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

            {% if order_page_result.paginator.num_pages > 1 %}
            <nav aria-label="Resultado da Busca de Usuários" class="mb-4">
              <ul class="pagination justify-content-center">
                {% if order_page_result.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page=1">
                    &laquo; Primeira
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ order_page_result.previous_page_number }}">
                    Anterior
                  </a>
                </li>
                {% endif %}
                <li class="page-item disabled">
                  <span class="page-link">
                    Página {{ order_page_result.number }} de {{ order_page_result.paginator.num_pages }}
                  </span>
                </li>
                {% if order_page_result.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ order_page_result.next_page_number }}">
                    Próximo
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ order_page_result.paginator.num_pages }}">
                    Última &raquo;
                  </a>
                </li>
                {% endif %}
              </ul>
            </nav>
            {% endif %}
            {% else %}
            <h4>Nenhum Resultado encontrado</h4>
            {% endif %}
          </div>
        </div>
        {% else %}
        <div class="contact-form-wrapper">
          <!-- From tittle -->
          <div class="row">
            <div class="col-lg-12">
              <!-- Section Tittle -->
              <div class="section-tittle mb-50">
                <h2>Painel de Usuário</h2>
              </div>
            </div>
          </div>
          <!-- form -->
          <h4>Nome de Usuário</h4>
          <h5 class="ml-4">{{ user.name }}</h5>
          <h4>Whatsapp</h4>
          <h5 class="ml-4">{{ user.whatsapp }}</h5>
          <h4>Email</h4>
          {% if user.email %}
          <h5 class="ml-4">{{ user.email }}</h5>
          {% else %}
          <h5 class="ml-4">Não Possui Email</h5>
          {% endif %}
          <h4>Rifas</h4>
          {% if user.quotaorder_set.all %}
            {% for order in user.quotaorder_set.all %}
              {% for quota in order.quota_set.all %}
              <a href="{% url 'raffles:detail-raffles' raffle_pk=quota.raffle.id %}" class="genric-btn {{ quota.get_btn }} quota-btn">
                {{ quota.number }}
              </a>
              {% endfor %}
            {% endfor %}
          {% else %}
          <h5 class="ml-4">Não Possui Rifas</h5>
          {% endif %}
          <h4>Prêmios Vencidos</h4>
          <h5 class="ml-4">Nenhum Premio Vencido.</h5>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<!-- contact-form end -->

{% endblock %}
