{% extends "layout/navigation.html" %}

{% load static %}

{% block title %}Autenticação{% endblock %}

{% block content %}

<div class="container mt-5 text-center py-3 rounded-3 bg-dark text-light">
  <form method="POST" enctype="multipart/form-data" style="max-width: 30rem; margin: 0 auto;">
    <img class="img-fluid mb-4" src="{% static 'vendor/img/logo/logo-big.png' %}" alt="">
    <h3 class="mb-3">Informe Seus Dados</h3>
    {% csrf_token %}
    <div class="form-floating text-dark">
      <input type="text" class="form-control" id="id_username" name="username" placeholder="Informe seu Whatsapp">
      <label for="id_username">Whatsapp</label>
    </div>
    <div class="form-floating text-dark">
      <input type="password" class="form-control" id="id_password" name="password" placeholder="Senha">
      <label for="id_password">Senha</label>
    </div>
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger my-2">
          <strong>{{ error }}</strong>
        </div>
      {% endfor %}
    {% endif %}
    <button class="w-100 btn btn-lg btn-success mt-3" type="submit">Entrar</button>
  </form>
</div>
{% endblock %}
{% block post_js %}
<script type="text/javascript">
  $(document).ready(function() {
    $("#id_username").inputmask({
      mask: ["(99) 9999-9999", "(99) 99999-9999", ],
      keepStatic: true
    });  
  });
</script>
{% endblock %}
