{% extends "layout/navigation.html" %}

{% load static %}

{% block title %}Sobre Nós{% endblock %}

{% block content %}

<div class="container py-3 rounded-3 bg-dark text-light text-center w-768">
  <img class="mb-4 img-fluid" src="{% static 'vendor/img/logo/logo-big.png' %}" alt="">
  <h4 class="mb-4">Política Privacidade</h4>
  <p class="text-start mx-5 my-2">
    A sua privacidade é importante para nós, é política do Plus Prêmios Sorteios respeitar a sua privacidade
     em relação a qualquer informação sua que possamos coletar no site Plus Prêmios Sorteios.
  </p>
  <p class="text-start mx-5 my-2">
    Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe fornecer um serviço.
     Fazemos por meios justos e legais, com o seu conhecimento e consentimento. Também informamos por que
     estamos coletando e como será usado.
  </p>
  <p class="text-start mx-5 my-2">
    Apenas retemos as informações coletadas pelo tempo necessário para fornecer o serviço solicitado.
     Quando armazenamos dados, protegemos dentro de meios comercialmente aceitáveis ​​para evitar perdas e
     roubos, bem como acesso, divulgação, cópia, uso ou modificação não autorizados. Não compartilhamos
     informações de identificação pessoal publicamente ou com terceiros, exceto quando exigido por lei.
  </p>
  <p class="text-start mx-5 my-2">
    O nosso site pode ter links para sites externos que não são operados por nós. Esteja ciente de que não
     temos controle sobre o conteúdo e práticas desses sites e não podemos aceitar responsabilidade por suas
     respectivas políticas de privacidade.
  </p>
  <p class="text-start mx-5 my-2">
    Você é livre para recusar a nossa solicitação de informações pessoais, entendendo que talvez não possamos
     fornecer alguns dos serviços desejados.
  </p>
  <p class="text-start mx-5 my-2">
    O uso continuado de nosso site será considerado como aceitação de nossas práticas em torno de privacidade
     e informações pessoais. Se você tiver alguma dúvida sobre como lidamos com dados do usuário e informações
     pessoais, entre em contacto connosco.
  </p>
    <h5>Contato: suporte@ppsorteios.com.br</h5>
</div>

{% endblock %}