{% extends "layout/navigation.html" %}

{% load static %}

{% block title %}Cadastrar Sorteio{% endblock %}

{% block content %}

<div class="px-3 my-3">
  <h2 class="fw-bold text-dark">CADASTRO DE SORTEIO</h2>
</div>
<div class="container py-3 rounded-3 bg-dark text-light w-768">
  <form method="POST" enctype="multipart/form-data" class="d-grid gap-2">
    <h3 class="mb-3">Informe os Dados do Sorteio</h3>
    {% csrf_token %}
    {{ form }}
    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Cadastrar</button>
  </form>
</div>

{% endblock %}
{% block post_js %}
<script type="text/javascript">
  $.datetimepicker.setLocale("pt-BR");
  $("#id_date").datetimepicker({
    minDate: 0,
    format: "d/m/Y H:i"
  });
  $("#id_quota_value").maskMoney({
    prefix:"R$ ",
    allowNegative: false,
    thousands:".",
    decimal:",",
    affixesStay: true
  });
</script>
{% endblock %}