{% extends "layout/navigation.html" %}

{% load static %}

{% block title %}Cadastrar Sorteio{% endblock %}

{% block content %}

<!--? contact-form start -->
<section class="contact-form-area">
  <div class="container">
    <div class="row justify-content-center">
      <!-- Contact wrapper -->
      <div class="col-xl-8 col-lg-9">
        <div class="contact-form-wrapper">
          <!-- From tittle -->
          <div class="row">
            <div class="col-lg-12">
              <!-- Section Tittle -->
              <div class="section-tittle mb-50">
                <h2>Cadastrar Sorteio</h2>
                <p>Brook presents your services with flexible, convenient and cdpose layouts. You can select your favorite layouts & elements for.</p>
              </div>
            </div>
          </div>
          <!-- form -->
          <form method="POST" class="contact-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row ">
              <!-- Button -->
              <div class="col-lg-12">
                <button name="submit" class="submit-btn">Cadastrar</button>
              </div>
            </div>
          </form>	
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact-form end -->
{% endblock %}
{% block post_js %}
<script type="text/javascript">
  $.datetimepicker.setLocale("pt-BR");
  $("#id_date").datetimepicker({
    minDate: 0,
    format: "d/m/Y H:i"
  });
  $("#id_quota_value").maskMoney({
    prefix:"R$ ",
    allowNegative: false,
    thousands:".",
    decimal:",",
    affixesStay: true
  });
</script>
{% endblock %}