{% extends "layout/navigation.html" %}

{% load static %}

{% block title %}Detalhes do Sorteio{% endblock %}

{% block content %}

<div class="px-4 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold">Detalhes do Sorteio</h1>
  </div>
  
    <div class="row g-0">
      <div class="col-md-6">
        <div class="card mb-3">
          {% if raffle.image.url %}
          <img class="card-img-top" src="{{ raffle.image.url }}" alt="" style="max-height: 32rem; max-width: 32rem; margin: auto;">
          {% else %}
          <img class="card-img-top" src="{% static 'vendor/img/blank.png' %}" alt="" style="max-height: 32rem; max-width: 32rem; margin: auto;">
          {% endif %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3" style="height: 97%;">
          <div class="card-header">
            <p class="h3">{{ raffle.title }}</p>
          </div>
          <div class="card-body">
            <p class="card-text">{{ raffle.date|date:"d/m/Y" }} às {{ raffle.date|date:"H:i" }}</p>
            <p class="card-text">Valor Unitário da Cota {{ raffle.quota_value }}</p>
            {% if raffle.is_sorted %}
            <p class="card-text">Vencedor: {{ raffle.winner }}</p>
            <p class="card-text">Cota Sorteada: {{ raffle.sorted_quota }}</p>
            {% else %}
              {% if raffle.is_date_valid %}
              <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#quotaBuyModal">Comprar Cotas</a>
              {% elif request.user.is_staff %}
              <form method="post" class="form-inline">
                {% csrf_token %}
                <input type="hidden" id="id_winner_quota_id" name="winner_quota_id">
                <input type="text" class="form-control" id="id_sorted_quota" name="sorted_quota" placeholder="Informe a Cota Vencedora">
                {% if winner_form.non_field_errors %}
                  {% for error in winner_form.non_field_errors %}
                    <div class="alert alert-danger">
                      <strong>{{ error }}</strong>
                    </div>
                  {% endfor %}
                {% endif %}
                <button class="btn radius" type="submit">Selecionar Vencedor</button>
              </form>
              {% endif %}
            {% endif %}
          </div>
          <div class="card-footer">
            {{ raffle.description }}
          </div>
        </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body text-center">
      {% for quota in quotas_result %}
      <a href="#" class="btn btn-{{ quota.get_btn }} quota-btn" data-bs-toggle="modal"
        data-bs-target="#quotaShowModal" data-bs-number="{{ quota.number }}" data-bs-status="{{ quota.order.status }}"
        data-bs-owner="{{ quota.order.owner }}" data-bs-reservedat="{{ quota.order.reserved_at|date:'d/m/Y H:i' }}"
        data-bs-paidat="{{ quota.order.paid_at|date:'d/m/Y H:i' }}">
        {{ quota.number }}
      </a>
      {% endfor %}
    </div>
  </div>

<div class="modal fade" id="quotaBuyModal" tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Valor Unitário da Cota {{ raffle.quota_value }}</h3>
      </div>
      <div class="modal-body">
        <p style="display: none;" id="quota_value">{{ raffle.get_quota_value }}</p>
        <form method="post" class="text-center">
          {% csrf_token %}
          {% for quota_input in quota_form.quotas %}
          <div class="form-check-inline mb-2">
            {{ quota_input }}
          </div>
          {% endfor %}
          <div class="row">
            <button class="btn btn-primary btn-block mt-2" type="submit">Reservar</button>
          </div>          
        </form>
      </div>
      <div class="modal-footer">
        <h3 class="modal-title" id="order_value_text">Valor total da Reserva: R$ 0,00</h3>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="quotaShowModal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="quota_title">Detalhes da Cota</h3>
      </div>
      <div class="modal-body">
        <h4 id="quota_owner" class="ml-2"></h4>
        <h4 id="reserved_at" class="ml-2"></h4>
        <h4 id="paid_at" class="ml-2"></h4>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block post_js %}
<script type="text/javascript">
  $(document).on("click", ".quota-btn", function () {
    var quotaNumber = $(this).data("bs-number");
    var quotaOwner = $(this).data("bs-owner");
    var quotaStatus = $(this).data("bs-status");
    var reservedAt = $(this).data("bs-reservedat");
    var paidAt = $(this).data("bs-paidat");

    $("#quota_title").text("Detalhes da Cota " + quotaNumber);
    if (quotaOwner) {
      $("#quota_owner").text("Dono da Cota: " + quotaOwner);
      $("#reserved_at").text("Reservado em: " + reservedAt);
      if (paidAt){
        $("#paid_at").text("Pago em: " + paidAt);
      } else {
        $("#paid_at").text("Pagamento em Analise");
      }
    } else {
      $("#quota_owner").text("Cota sem Dono");
      $("#reserved_at").text("");
      $("#paid_at").text("");
    }
  });
</script>
<script type="text/javascript">
  $(document).ready(function() {
    $("input:checkbox").click(function() {
      if (this.checked){
        $(this).parent().css("background-color", "#f4e700");
      } else {
        $(this).parent().css("background-color", "#4cd3e3");
      }

      var total_value = $("input:checkbox:checked").length * $("#quota_value").text();
      $("#order_value_text").text("Valor total da Reserva: R$ "+ total_value +",00");
      $("#order_value").val(total_value);

    });
});
</script>
{% endblock %}