<a href="#" class="btn btn-primary text-dark" data-bs-toggle="modal" data-bs-target="#firstHowToModal">
  Como Participar
</a>

<div class="modal fade" id="firstHowToModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header bg-gradient">
        <h4 class="modal-title" id="exampleModalLabel">1º Passo</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>Escolha o sorteio</h4>
        <div>
          Escolha o prêmio que gostaria de concorrer, verifique a descrição, regulamento
          do sorteio e a foto. Em caso de dúvidas entre em contato com o administrador.
        </div>
      </div>
      <div class="modal-footer btn-group">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#secondHowToModal" data-bs-dismiss="modal">Proximo Passo</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="secondHowToModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header bg-gradient">
        <h4 class="modal-title" id="exampleModalLabel">2º Passo</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>Selecione os números</h4>
        <div>
          Você pode escolher quantos números desejar!<br>
          Mais números, mais chances de ganhar.
        </div>
      </div>
      <div class="modal-footer btn-group">
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#firstHowToModal" data-bs-dismiss="modal">Voltar Passo</button>
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#thirdHowToModal" data-bs-dismiss="modal">Proximo Passo</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="thirdHowToModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header bg-gradient">
        <h4 class="modal-title" id="exampleModalLabel">3º Passo</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>Faça o pagamento</h4>
        <div>
          Faça o pagamento via transferência bancária ou Pix.<br>
          Envie o comprovante da transferência ao administrador via link no whatsapp.
        </div>
      </div>
      <div class="modal-footer btn-group">
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#secondHowToModal" data-bs-dismiss="modal">Voltar Passo</button>
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#fourthHowToModal" data-bs-dismiss="modal">Proximo Passo</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="fourthHowToModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header bg-gradient">
        <h4 class="modal-title" id="exampleModalLabel">4º Passo</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>Aguarde o sorteio</h4>
        <div>
          Cruze os dedos.<br>Você pode ser o próximo sorteado!
        </div>
      </div>
      <div class="modal-footer btn-group">
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#thirdHowToModal" data-bs-dismiss="modal">Voltar Passo</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Tudo Certo</button>
      </div>
    </div>
  </div>
</div>
