{% extends "layout/navigation.html" %}

{% load static %}

{% block title %}Sorteios{% endblock %}

{% block content %}
<div id="rafflesCarousel" class="carousel slide" data-bs-interval="2500" data-bs-ride="carousel" data-bs-pause="hover">  
  <div class="carousel-inner shadow">
    {% if raffles_result %}
      {% for raffle in raffles_result %}
      <div class="carousel-item">
        <a href="{% url 'raffles:detail-raffles' raffle_pk=raffle.id %}">
          {% if raffle.image %}
          <img src="{{ raffle.image.url }}" alt="Sorteio">
          {% else %}
          <img src="{% static 'vendor/img/empty.png' %}" alt="Sorteio">
          {% endif %}
        </a>
      </div>
      {% endfor %}
    {% else %}
    <div class="carousel-item">
      <img src="{% static 'vendor/img/empty_long.png' %}" alt="Sorteio">

      <div class="container">
        <div class="carousel-caption text-center">
          <h1>Nenhum Sorteio Encontrado.</h1>
        </div>
      </div>
    </div> 
    {% endif %}
  </div>
</div>

<div class="px-3 my-3">
  <h1 class="fw-bold text-dark"><i class="fa fa-star" aria-hidden="true"></i> NOSSOS SORTEIOS</h1>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
  {% if raffles_result %}
    {% for raffle in raffles_result %}
    <div class="col my-2">
      <div class="bg-dark text-light raffle-item">
        <div class="raffle-item-image">
          {% if raffle.image %}
          <img src="{{ raffle.image.url }}" alt="Sorteio">
          {% else %}
          <img src="{% static 'vendor/img/empty.png' %}" alt="Sorteio">
          {% endif %}
        </div>
        <div class="raffle-item-info mx-3 my-2">
          <h5>{{ raffle.title }}</h5>
          <p>{{ raffle.get_date }}</p>
          <a class="btn btn-primary" href="{% url 'raffles:detail-raffles' raffle_pk=raffle.id %}">Comprar</a>
        </div>
      </div>
    </div>
    {% endfor %}
  {% else %}
  <div class="container">
    <div class="bg-dark text-light raffle-item px-3 pt-1">
      <h5>Nenhum Sorteio Disponivel</h5>
    </div>
  </div>
  {% endif %}
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
  <div class="col">
    <div class="px-3 my-3">
      <h1 class="fw-bold text-dark"><i class="fa fa-trophy" aria-hidden="true"></i> GANHADORES</h1>
    </div>
    <div class="container">
      {% if winners_result %}
        {% for raffle in winners_result %}
        <a href="{% url 'raffles:detail-raffles' raffle_pk=raffle.id %}" style="text-decoration: none;">
          <div class="card my-2 bg-dark text-light">
            <div class="card-body">
              <h5 class="card-title" style="display: inline-block;">{{ raffle.winner }}</h5>
              <label class="quota-label ms-3">{{ raffle.sorted_quota }}</label>
              <p class="card-text">Ganhou: {{ raffle.title }}</p>
            </div>
          </div>
        </a>
        {% endfor %}
      {% else %}
      <div class="card bg-dark text-light">
        <div class="card-body">
          <h5 class="card-title">Ops!</h5>
          <p class="card-text">Nenhum Ganhador encontrado</p>
        </div>
      </div>
      {% endif %}
    </div>    
  </div>
  <div class="col">
    {% include "raffles/payment_info.html" %}
  </div>
</div>

{% endblock %}
{% block post_js %}
<script type="text/javascript">
  $(document).ready(function(){
    $("#rafflesCarousel").children().children(":first").addClass("active");
  });
</script>
{% endblock %}
