{% extends "layout/navigation.html" %}

{% load static %}

{% block title %}Sorteios{% endblock %}

{% block content %}
<div class="px-3 my-3">
  <h1 class="fw-bold text-dark">TODOS OS SORTEIOS</h1>
</div>
<div class="">
  <form method="GET" id="filter_form" class="py-2 mb-3 mx-auto rounded-3 bg-dark text-light text-center w-768">
    {% for status_input in filter_form.status %}
    <div class="form-check-inline">
      {{ status_input }}
    </div>
    {% endfor %}
  </form>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
  {% if raffles_result %}
    {% for raffle in raffles_result %}
    <div class="col my-2">
      <div class="bg-dark text-light raffle-item">
        <div class="raffle-item-image">
          {% if raffle.image %}
          <img src="{{ raffle.image.url }}" alt="Sorteio">
          {% else %}
          <img src="{% static 'vendor/img/empty.png' %}" alt="Sorteio">
          {% endif %}
        </div>
        <div class="raffle-item-info mx-3 my-2">
          <h5>{{ raffle.title }}</h5>
          <p>{{ raffle.get_date }}</p>
          
          <a class="btn btn-primary" href="{% url 'raffles:detail-raffles' raffle_pk=raffle.id %}">
            {% if raffle.is_sorted %}
            Visualizar
            {% else %}
            Comprar
            {% endif %}
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  {% else %}
  <div class="container">
    <div class="bg-dark text-light raffle-item px-3 pt-1">
      <h5>Nenhum Sorteio Disponivel</h5>
    </div>
  </div>
  {% endif %}
</div>

{% include "raffles/payment_info.html" %}

{% endblock %}
{% block post_js %}
<script type="text/javascript">
  $(document).ready(function(){
    $("#rafflesCarousel").children().children(":first").addClass("active");
  });
</script>
<script type="text/javascript">
  $(document).ready(function() {
    $("input:radio").click(function() {
      $("#filter_form").submit();
    });
});
</script>
{% endblock %}
