{% extends "layout/navigation.html" %}

{% load static %}

{% block title %}Ganhadores{% endblock %}

{% block content %}
<div class="px-3 my-3">
  <h1 class="fw-bold text-dark">GANHADORES DE SORTEIOS</h1>
</div>
<div class="container w-768">
  {% if winners_result %}
    {% for raffle in winners_result %}
    <a href="{% url 'raffles:detail-raffles' raffle_pk=raffle.id %}" style="text-decoration: none;">
      <div class="card my-2 bg-dark text-light">
        <div class="card-body">
          <h5 class="card-title" style="display: inline-block;">{{ raffle.winner }}</h5>
          <label class="quota-label-sm ms-3">{{ raffle.sorted_quota }}</label>
          <p class="card-text">Ganhou: {{ raffle.title }}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  {% else %}
  <div class="card bg-dark text-light">
    <div class="card-body">
      <h5 class="card-title">Ops!</h5>
      <p class="card-text">Nenhum Ganhador encontrado</p>
    </div>
  </div>
  {% endif %}
</div>  

{% include "raffles/payment_info.html" %}

{% endblock %}
{% block post_js %}
<script type="text/javascript">
  $(document).ready(function(){
    $("#winnersCarousel").children().children(":first").addClass("active");
  });
</script>
{% endblock %}
