{% extends "layout/navigation.html" %}

{% load static %}

{% block title %}Link para Confirmação de Pagamento{% endblock %}

{% block content %}

<div class="px-3 my-3">
  <h1 class="fw-bold text-dark">CONFIRME SEU PAGAMENTO VIA WHATSAPP</h1>
</div>

<div class="container py-3 rounded-3 bg-dark text-light text-center">
  <a href="{{ order.get_payment_link }}" target="_blank" class="link-light">
    <img class="mb-4" src="{% static 'vendor/img/logo/logo-big.png' %}" alt="">
    <h3 class="mb-3">Siga o Link para confirmar seu pagamento no valor de R$ {{ order.value }},00</h3>
  </a>
  <div class="grid">
    <a href="{% url 'raffles:detail-raffles' raffle_pk=order.get_raffle.id %}" class="btn btn-info"> Voltar Para Sorteio</a>
  </div>
</div>

{% include "raffles/payment_info.html" %}

{% endblock %}