<div class="px-4 my-5 text-center">
    <h1 class="fw-bold rounded-3 bg-dark bg-gradient text-light">FORMAS DE PAGAMENTO</h1>
  </div>
  <div class="row g-2 w-768 mx-auto"">
    <div class="container d-grid">
      <a href="#" class="btn btn-info" data-bs-toggle="collapse" data-bs-target="#payment0">
        Pix CPF
      </a>
      <div class="collapse" id="payment0">
        <div class="rounded-3 bg-dark text-light py-3 px-3">
          Transferencia PIX <br>CPF: 000.000.000-00
        </div>
      </div>
    </div>
    <div class="container d-grid">
      <a href="#" class="btn btn-info" data-bs-toggle="collapse" data-bs-target="#payment1">
        Transferencia Banco
      </a>
      <div class="collapse" id="payment1">
        <div class="rounded-3 bg-dark text-light py-3 px-3">
          Transferencia Banco <br>CC: 000000-0 <br>AG: 0000000-0
        </div>
      </div>
    </div>
    <div class="container d-grid mt-3">
      {% include "raffles/how_to.html" %}
    </div>
  </div>