{% load static %}

<!doctype html>
<html class="no-js" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Plus Prêmios Sorteios{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'vendor/img/favicon.ico' %}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/style.css' %}">

    {% block post_css %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    <!-- JS here -->

    <script src="{% static 'vendor/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static 'vendor/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'vendor/js/popper.min.js' %}"></script>
    <script src="{% static 'vendor/js/bootstrap.min.js' %}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static 'vendor/js/jquery.slicknav.min.js' %}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static 'vendor/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'vendor/js/slick.min.js' %}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{% static 'vendor/js/wow.min.js' %}"></script>
    <script src="{% static 'vendor/js/animated.headline.js' %}"></script>
    <script src="{% static 'vendor/js/jquery.magnific-popup.js' %}"></script>

    <!-- Nice-select, sticky -->
    <script src="{% static 'vendor/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'vendor/js/jquery.sticky.js' %}"></script>

    <!-- contact js -->
    <script src="{% static 'vendor/js/contact.js' %}"></script>
    <script src="{% static 'vendor/js/jquery.form.js' %}"></script>
    <script src="{% static 'vendor/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'vendor/js/mail-script.js' %}"></script>
    <script src="{% static 'vendor/js/jquery.ajaxchimp.min.js' %}"></script>

    <!-- Jquery Plugins, main Jquery -->	
    <script src="{% static 'vendor/js/plugins.js' %}"></script>
    <script src="{% static 'vendor/js/main.js' %}"></script>
    {% block post_js %}{% endblock %}

</body>
</html>
