{% load static %}

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Plus Prêmios Sorteios{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'vendor/img/ico.png' %}">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- CSS Here-->
    <link rel="stylesheet" href="{% static 'vendor/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/carousel.css' %}">
    <!-- Datetimepicker -->
    <link rel="stylesheet" href="{% static 'vendor/css/jquery.datetimepicker.min.css' %}">
    <!-- Font Awessome -->
    <link rel="stylesheet" href="{% static 'vendor/libs/fontawesome-free-5.15.3-web/css/all.css' %}">

    <style>
      @media (min-width: 998px){
        body, .navbar .container-fluid {
          max-width: 998px;
          margin: 0 auto;
        }
      }
    </style>

    {% block post_css %}{% endblock %} 
  </head>
  <body>
    {% block body %}{% endblock %}

    <!-- Jquery -->
    <script src="{% static 'vendor/js/jquery-3.6.0.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'vendor/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Datepicker -->
    <script src="{% static 'vendor/js/jquery.datetimepicker.full.min.js' %}"></script>
    <!-- MaskMoney -->
    <script src="{% static 'vendor/js/jquery.maskMoney.min.js' %}"></script>
    <!-- InputMask -->
    <script src="{% static 'vendor/js/jquery.inputmask.bundle.js' %}"></script>

    {% block post_js %}{% endblock %}

  </body>
</html>
