{% extends "layout/base.html" %}

{% load static %}

{% block body %}

<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'vendor/img/logo/logo.png' %}" alt="Logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link"href="{% url 'index' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'raffles:list-raffles' %}">Sorteios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'list-winners' %}">Ganhadores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">Contato</a>
          </li-->
          <li>
            <hr>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          {% if user.is_authenticated %}
          {% if user.is_staff %}
          <li class="nav-item">
            <a href="{% url 'raffles:add-raffles' %}" class="nav-link">
              <i class="fas fa-trophy me-2"></i>Adicionar Sorteio
            </a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a href="{% url 'account:detail-users' %}" class="nav-link">
              <i class="fas fa-user me-2"></i>Painel
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'account:logout' %}" class="nav-link">
              <i class="fas fa-sign-out-alt me-2"></i>Sair
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a href="{% url 'account:login' %}" class="nav-link">
              <i class="fas fa-sign-in-alt me-2"></i> Entrar
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'account:add-users' %}" class="nav-link">
              <i class="fas fa-user-plus me-2"></i> Cadastro
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>

<main class="mt-5">
  {% block content %}{% endblock %}
</main>

<footer class="container my-5">
  <p class="float-end"><a href="#"><i class="fas fa-level-up-alt"></i></a></p>
  <p class="text-center text-muted">
    Plus Premios Sorteios © 2021 Todos os direitos reservados. |
     Desenvolvido por <a href="https://github.com/elioadriao" target="_blank">@elio.adriao</a>
  </p>
</footer>

{% endblock %}